[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/random"]
	path = external/random
	url = https://github.com/effolkronium/random.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "external/tinyobj"]
	path = external/tinyobj
	url = https://github.com/syoyo/tinyobjloader.git