# Directories
.vs/
/bin/
/intermediate/
/bin-int/

# Files
*.user
*.sln
*.vcxproj*

\.vscode/

*.filters

build/

tests/res/models/

lift/x64/

sandbox/res/models/

.idea/

lift/res/models/

res/models/

res/
