[submodule "Lift/vendor/imgui"]
	path = Lift/vendor/imgui
	url = https://github.com/GoncaloFDS/imgui.git
[submodule "Lift/vendor/mathfu"]
	path = Lift/vendor/mathfu
	url = https://github.com/google/mathfu.git